<zfsbackup>
    <cache>zfsbackup.sqlite</cache>
    <locks>locks</locks>

    <commands>
        <zfs>/usr/bin/zfs</zfs>
        <!--<zpool>/usr/bin/zpool</zpool>-->
        <sudo>/usr/bin/sudo</sudo>

        <command name="test" program="/bin/test" sudo="False">
            <arg>0</arg>
            <arg>-eq</arg>
            <arg>0</arg>
        </command>
    </commands>

    <jobs>
        <snapshot name="users">
            <!-- pool and dataset definitions -->
            <target pool="data" dataset="users" />
            <enabled />

            <!-- recursive snapshots -->
            <!-- <recursive /> -->
        </snapshot>

        <snapshot name="recurse">
            <target pool="data" dataset="recurse" />
            <enabled />
            <recursive />
        </snapshot>

        <snapshot name="root">
            <target pool="data" dataset="root" />
            <enabled />
        </snapshot>

        <clean name="users">
            <target pool="data" dataset="users" />
            <enabled />
            <keep months="1" />
            <squash />
        </clean>

        <clean name="users_bak">
            <target pool="data" dataset="backup/users" />
            <enabled />
            <keep months="1" />
            <squash />
        </clean>

        <clean name="recurse">
            <target pool="data" dataset="recurse" />
            <recurse />
            <enabled />
            <keep months="1" />
            <squash />
        </clean>

        <copy name="users">
            <enabled />

            <!-- source pool and dataset -->
            <source pool="data" dataset="users" />

            <!-- destination pool and dataset -->
            <destination pool="data" dataset="backup/users">
                <!-- rollback destination to most recent snapshot (zfs recv -F) -->
                <rollback />

                <!-- overwrite/ignore properties on receive -->
                <properties>
                    <!-- zfs recv -o property=value -->
                    <overwrite>
                        <mountpoint>none</mountpoint>
                    </overwrite>
                    <!-- zfs recv -x property -->
                    <ignore>
                        <compression />
                    </ignore>
                </properties>
            </destination>

            <!-- replicate dataset (use zfs send -R) -->
            <replicate />

            <!-- use incremental streams (zfs send -I ...) -->
            <incremental />
        </copy>
    </jobs>

    <jobsets>
        <jobset name="snapandclean">
            <snapshot>users</snapshot>
            <clean>users</clean>
        </jobset>

        <jobset name="scc">
            <jobset>snapall</jobset>
            <copy>users</copy>
            <jobset>cleanall</jobset>
        </jobset>

        <clean name="cleanall">
            <job>users</job>
        </clean>

        <snapshot name="snapall">
            <job>users</job>
            <job>root</job>
        </snapshot>
    </jobsets>
</zfsbackup>